
.col-sm-8 {
    width: 20%;
    height: 20%;
}

body{
    background-color: #3d0a91; 

  }
  
  .container-fluid{
    background-color: #8540f5;
  }
.color{
    background-color: #8540f5;
}

footer{
    background-color: #6610f2;
}

p{
    color: #e0cffc;
}
h2{
    color: #e0cffc;
    text-align: center;
}
li{
    color: #e0cffc;
}